#root {
  margin: 0;

  text-align: center;
  /*  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  background: #67B26F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cf, #67B26E);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cf, #67B26E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.App {
  justify-content: space-evenly;
  display: flex;
  column-gap: 50px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}



/*    FOOTER       */

footer {
  position: relative;
  width: 100%;
  /*  background: #4a39e2; 
    background-color: #2d2323;;*/
  min-height: 100px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 40px;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
  padding: 5px;
}

footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

footer .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
  color: #fff;
}

p {
  color: whtie;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.copyright {
  color: white;
  border: none;
  margin-left: 45px;
}

/*  NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  margin-bottom: 4rem;

}

.navbar-left h1 {
  margin: 0;
  font-family: "Lancelot", serif !important;
  font-weight: 600 !important;
  font-style: normal;
  font-size: 2rem;
}

.navbar-middle {
  flex-grow: 1;
  text-align: center;
}

.navbar-right button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-left,
  .navbar-middle,
  .navbar-right {
    width: 100%;
    text-align: center;
  }
}